body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.erro {
    background: #ff4d4d;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #22c55e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

